# Web env example
NEXT_PUBLIC_API_BASE_URL=http://localhost:3001

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_xxxxxxxxxxxxxxxxxxxxxxxxx
CLERK_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxxxxxxx
NEXT_PUBLIC_CLERK_AFTER_SIGN_OUT_URL=/

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://xxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJxxx

# Google Maps JS API
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyxxxxxxxxxxxxxxxxxxxxxxx

# Creem
NEXT_PUBLIC_CREEM_API_KEY=creem_test_7jxvFQap1WOlGEO58Hq3rJ

# Backend API
NEXT_PUBLIC_API_URL=http://localhost:3001

